#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.logo {
    flex: 1;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.links {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.links a:hover {
    color: #1e90ff;
}

.search-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.search-box input {
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-box button:hover {
    background-color: #0056b3;
}

.active{
    background-color: #0056b3;
    
}