#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 20px; */
    background-color: #000000; /* Light background */
    box-shadow: 0px 4px 6px rgba(232, 232, 232, 0.1);
    border-bottom: 1px solid #e0e0e0;
  }
  
  #logo {
    flex-basis: 20%; /* 20% width for the logo */
    display: flex;
    align-items: center;
  }
  #lastLogo {
    flex-basis: 7%; /* 20% width for the logo */
    display: flex;
    align-items: center;
  }
  
  #search-bar {
    flex-basis: 30%; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #menu-bar {
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ccc;
  }
  
  /* Styling for individual elements */
  #logo img {
    max-width: 150px; 
    height: auto;
  }
  
  #search-bar input {
    width: 70%; /* Adjust input width within the container */
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #search-bar button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #search-bar button:hover {
    background-color: #0056b3;
  }
  
  #menu-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #menu-bar ul li {
    margin: 0 15px;
  }
  
  #menu-bar ul li a {
    text-decoration: none;
    color: #9e9fa3;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
  }
  
  #menu-bar ul li a:hover {
    color: #007bff;
  }
  